.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

    input, textarea {
        margin-bottom: 15px;
    }

    button {
        margin-top: 15px;
    }

    label.error {
        color: red;
    }

    input.error {
        background-color: rgba(255, 0, 0, 0.332);
    }

    div.error {
        color: red;
        margin-top: 5px;
    }
}